// main: style.scss

.found-poem {
  width: $width;
  margin: 0 auto;

  .poem-block {
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;

    .poem-text {
      padding: 20px;
      border-radius: 8px;

      &.light {
        color: white;
        background: rgba(0, 0, 0, 0.7);
      }

      &.dark {
        color: black;
      }
    }
  }
}
