// main: style.scss

.poem-block {
  position: absolute;
  top: 0;
  width: $width;
  height: $height;
  @include center-children();
  opacity: 0;

  &.visible {
    opacity: 100;
  }

  @media print {
    opacity: 100;
    position: relative;
    page-break-inside: avoid;
    page-break-after: always;
  }

  .poem-text {
    padding: 20px;
    border-radius: 8px;

    color: transparentize($font-color, 0.8);
    background: rgba(0, 0, 0, 0.7);
  }
}
